@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Nanum+Gothic:wght@400;700&display=swap');
/* Global Styles */
:root {
  --primary-color: #000000;
  --dark-color: #6272a4;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
.neon {
  color: #89c9b8;
}
.colored-link {
  color: #ff79c6;
  font-size: 1.7rem;
  margin-right: 1rem;
}
.contact-links {
  position: absolute;
  bottom: 50px;
}
.h1-about {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5rem;
  color: #6272a4;
  font-weight: 400;
}
.clear-btn {
  margin-bottom: 10px;
}
.back {
  margin-bottom: 8px;
}
.card h3 {
  font-weight: 400;
  font-size: 1rem;
  color: #ff79c6;
  text-transform: uppercase;
}
.home-card {
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 5px;
  padding: 20px 30px;
  width: 900px;
  text-align: left;
  margin-top: 40px;
  line-height: 2;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.about-card {
  width: 500px;
}
.repo-heading {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 50px;
  letter-spacing: 0.5rem;
  color: #ff79c6;
}
.repo-heading span {
  color: #89c9b8;
  font-weight: 600;
  font-size: 2rem;
}
.home-card:hover {
  box-shadow: 0px 0px 10px 0px #ff79c6;
  transform: translateY(-15px);
}
.repo-links {
  color: #89c9b8;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 300;
  font-size: 1.35rem;
}
.repo-desc {
  font-weight: 300;
  font-size: 1 rem;
  letter-spacing: 0.15rem;
  margin-bottom: 15px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #282a36;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');

  color: #f8f8f2;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.card {
  padding: 1rem;
  border: #ff79c6 1px solid;
  margin: 0.7rem 0;
  background-color: rgba(0, 0, 0, 0.096);
  letter-spacing: 0.15rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 10px 0px #ff79c6;
  transform: translateY(-5px);
}

/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

/* Grid */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 6px;
  border: none;
}

.btn-link {
  background: none;
  padding: 0;
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-sm {
  font-size: 0.8rem;
  padding: 0.3rem 1rem;
  margin-right: 0.2rem;
}

.badge {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: #333;
  border-radius: 5px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  border-radius: 6px;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
  color: #fff;
}
.btn-light:hover {
  color: #000000;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
}

.round-img {
  border-radius: 50%;
  border: 2px solid #ff79c6;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  outline: 0;
  border-width: 0 0 1px;
}

input[type='submit'],
button {
  font: inherit;
}
.searchInput {
  background-color: #282a36;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
  border-bottom: 1px solid white;
}
input:focus {
  outline: none;
  color: white;
}

table th,
table td {
  padding: 1rem;
  text-align: left;
}

table th {
  background: var(--light-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--light-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}
.users {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.cartoon-home {
  width: 500px;
  margin: 100px auto 0;
  display: block;
}
.cartoon-about {
  width: 300px;
  position: absolute;
  bottom: 50px;
  right: 100px;
}
/* Mobile Styles */
@media (max-width: 700px) {
  .hide-sm {
    display: none;
  }
  .cartoon-home {
    width: 350px;
    margin: 200px auto 0;
    display: block;
  }
  .cartoon-about {
    display: none;
  }
  .users {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .home-card {
    width: 100%;
  }
  .repo-links {
    color: #89c9b8;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    font-weight: 300;
    font-size: 1.15rem;
  }
  .repo-desc {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    margin-bottom: 15px;
  }
  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  }

  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }
}
